@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
}

/* Scrollbars: */
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Google Maps map: */
#map {
    height: 100vh;
}


/* Title */
.title {
    position: absolute;
    top: 5rem;
    left: 4rem;
    font-size: 6rem;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
    /* color: #333; */

    background: linear-gradient(to right, #f1f1f3, #8f8f96);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid #8686a7;

    font-family: 'Roboto', sans-serif;
}

/* Search container */
.search-container {
    width: 40vw;
    max-width: 400px;
    height: 6rem;
    background-color: #8d8d96;
    position: absolute;
    z-index: 30;
    top: 15rem;
    left: 4rem;
    border-radius: 30px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    width: 100%;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.search input:focus {
    outline: none;
}

.search i {
    color: white;
    font-size: 1.5em;
}

/* Stores list */
.stores-list-container {
    width: 40vw;
    max-width: 400px;
    background-color: white;
    position: absolute;
    z-index: 30;
    top: 24rem;
    left: 4rem;
    border-radius: 10px;
    bottom: 20px;
    max-height: 800px;
    overflow: hidden;
}

.stores-list {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

/* Store containers: */

.store-container-background {
    display: flex;
    width: 100%;
    padding: 0 8px;
    margin: 12px 0;
    border-radius: 8px;
    transition: ease-in-out 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.store-container-background:hover {
    background-color: #6f6f8936;
}

.store-container-background:focus,
.store-container-background:active {
    background-color: #6f6f8936;
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-container-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-address {
    font-size: 1.5rem;
    color: #514C4C;
    margin-top: 1rem;
}

.store-phone-number {
    display: flex;
    align-items: center;
    color: #B5ADAD;
    margin-top: 1rem;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36364b;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 1.4rem;
}

/* Store Info Window: */
.store-info-window {
    min-width: 300px;
    font-size: 1.1em;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}

.store-info-name {
    font-size: 1.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 7px;
}

.store-info-address,
.store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle,
.store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #514C4C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}



/* Media queries: */

@media screen and (max-width: 640px) {

    .title {
        display: flex;
        top: auto;
        font-size: 1.4em;
        line-height: 1em;
        margin-bottom: 3em;
        left: 2em;

        background: linear-gradient(to right, #8e8eaf, #656580);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: #656580;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: #fff;
    }

    #map {
        height: 55vh;
    }

    /* Stores list */
    .stores-list-container {
        display: block;
        top: auto;
        left: 0;
        bottom: 0;
        height: 30vh;
        width: 100vw;
        max-width: 100vw;
        border-radius: 0px;
    }

    .store-number {
        visibility: hidden;
    }

    .search-container {
        display: block;
        height: 5vh;
        width: 100vw;
        max-width: 100vw;
        left: 0;
        top: 65vh;
        background-color: #6f6f89;
        border-radius: 0px;
    }

    /* .search {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    } */

    .search input {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
    }

    /* Store Info Window: */
    .store-info-window {
        display: contents;
        min-width: 200px;
        font-size: 1.1em;
        padding: 8px;
        font-family: 'Open Sans', sans-serif;
    }

    .store-info-name {
        text-align: center;
        font-size: 1.9rem;
        font-weight: bold;
        color: rgba(0, 0, 0, .87);
    }

    .store-info-status {
        text-align: center;
        margin-top: 6px;
        border-bottom: 1px solid #00000029;
        padding-bottom: 7px;
    }

    .store-info-address,
    .store-info-phone {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .store-info-address .circle,
    .store-info-phone .circle {
        width: 30px;
        height: 30px;
        background-color: white;
        color: #514C4C;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 8px;
    }
}

/* New Header: */

/* Header */

/* CORE STYLES */
:root {
--primary-color: rgb(255, 255, 255);
--overlay-color: rgba(24, 39, 51 , 0.85);
--menu-speed: 0.75s;
}



/* MENU STYLES */
.menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1.5rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    z-index: 999;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 999;
}

.menu-wrap .menu > div > div > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div > div > h1, h2, p {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #6f6f89;
    padding: 1rem;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    background: #6f6f895b;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all ease-in-out 0.4s;
}

@media screen and (max-width: 640px) {
    .menu-wrap .menu > div {
        height: 80vh;
        width: 180vw;
        padding-bottom: 10em;
    }

    .menu-wrap .menu > div > div > ul > li > a {
        display: flex;
    }
}