@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Permanent+Marker&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Scrollbars: */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Google Maps map: */
#map {
    height: 100vh;
}


/* Title */
.title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 8vw;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #333; */

    background: linear-gradient(to right, #36364b, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
}

/* Search container */
.search-container {
    width: 40vw;
    max-width: 400px;
    height: 60px;
    background-color: #6f6f89ce;
    position: absolute;
    z-index: 30;
    top: 180px;
    left: 50px;
    border-radius: 30px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.459);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.search input:focus {
    outline: none;
}

.search i {
    color: white;
    font-size: 25px;
}

/* Stores list */
.stores-list-container {
    width: 40vw;
    max-width: 400px;
    background-color: white;
    position: absolute;
    z-index: 30;
    top: 270px;
    left: 50px;
    border-radius: 10px;
    bottom: 20px;
    max-height: 800px;
    overflow: hidden;
}

.stores-list {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
    font-size: 1.2em;
    color: #514C4C;
    margin-top: 25px;
}

.store-phone-number {
    display: flex;
    align-items: center;
    color: #B5ADAD;
    margin-top: 25px;
    margin-bottom: 10px;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454E53;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 1em;
}

/* Store Info Window: */
.store-info-window {
    min-width: 300px;
    font-size: 1.1em;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}

.store-info-name {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #514C4C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px; 
}



/* Media queries: */

/* @media screen and (min-width: 1000px) {
    
    .title {
        display: flex;
        justify-content: center;
    }
} */