@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Permanent+Marker&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100vh;
}

.title {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 9vh;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #333; */

    background: linear-gradient(to right, #36364b, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
}

.search-container {
    width: 400px;
    height: 60px;
    background-color: #6f6f89ce;
    position: absolute;
    z-index: 30;
    top: 230px;
    left: 100px;
    border-radius: 30px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.459);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.search input:focus {
    outline: none;
}

.search i {
    color: white;
    font-size: 25px;
}

.stores-list-container {
    width: 400px;
    background-color: white;
    position: absolute;
    z-index: 30;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;

    max-height: 800px;
}


.stores-list {
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
    font-size: 20px;
    color: #514C4C;
    margin-top: 25px;
}

.store-phone-number {
    display: flex;
    align-items: center;
    color: #B5ADAD;
    margin-top: 25px;
    margin-bottom: 10px;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454E53;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 12px;
}


.store-info-window {
    min-width: 300px;
    font-size: 15px;
    padding: 8px;
}



/* Media queries: */

/* @media screen and (min-width: 1000px) {
    
    .title {
        display: flex;
        justify-content: center;
    }
} */